/*Google Fonts*/
body {
	font-family: 'Open Sans' , sans-serif;
}

/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*All HTML elements have default values for their "margin" and "padding" properties. Giving them the value of "0" makes it easier for us to manipulate the size and positioning of elements*/

nav {
	/*Shorthand property: Apply padding on all sides*/
	padding: 0.8rem;
	/*Creates space between the nav and the intro section*/
	margin-bottom: 2rem;
	/*The "margin-bottom" property only changes the space at the bottom of the element. This good for instances where a single space is needed to be changed.*/
	border-bottom: 1px solid grey;

	list-style-type: none;
}

/*Selector Combinator:  Type_selector Class_selector*/
nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;

}
/*Even though we have access to the "padding" and "margin" properties when centering text horizontally, the "text-align" property is still better to use. Manipulating the "padding" and "margin" might affect non-text HTML tags to be added in the future, which would return unexpected results.*/

/*We have used descendant selector*/

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}
/*The selector used is a descendant selector. Even though there is only one button present in the page, this is appropriate as it helps code readability. Telling the developer that the button is located in the intro section.
The "font-weight" property changes the thickness of the text.
The "padding" property is used here because we want to make the button larger by creating space from the text content to the borders of the button*/

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info .card {
	/*Inline block allows the car to appear beside each other*/
	display: inline;
	/*Vertical align top allows our element to be aligned at the top*/
	vertical-align: top;
	/*Allows for cards to have equal height that adjust with the content*/
	min-height: 175px;
	/*Use only 30% not 33.33% to have overflaw and horizontal scrolling*/
	width: 30%;
	margin-left: 0.5rem;
	padding-bottom: 1rem;
}

footer {
	padding: 0.7rem;
}

footer span	{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/*ACTIVITY*/

#pre-footer {
	
	
	padding-top: 1rem;
	padding-bottom: 1rem;
	border: 1px solid black;
	background-color: #002540;
}

#pre-footer .foot{
	color: white;
	display: inline-block;
	padding-right: 10rem;
	margin-left: 0.5rem;


}
